*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mobile {
    width: 100%;
    height: 0.39rem;
    background: rgba(109, 255, 48, 0) /*头部颜色*/;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}
.mobile img{
    width: 100%;
    position: absolute;
    top: 0;
}
.header {
    width: 100%;
    height: 1.34rem;
    background: #ffb02c /*头部颜色*/;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.header-middle {
    width: 5.08rem;
    height: 0.4rem;
    background-color: rgb(255, 255, 255);
    border-radius:0.21rem;
    margin: 0.69rem auto 0.26rem;
    box-sizing: border-box;
    position: relative;
}
.header-number{
    width: 0.4rem;
    height: 0.4rem;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    top:0.69rem;
    left: 6.22rem;
}
.header-number img{
    width: 0.4rem;
    height: 0.4rem;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    top:0;color: #ffbd16;
    left: 0;
}
.header-return{
    width: 0.4rem;
    height: 0.4rem;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    top:0.69rem;
    right: 0.39rem;
}


.header-return img{
    width:0.4rem;
    height: 0.4rem;
    position: absolute;color: #ffbd16;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.header-more{
    width: 0.4rem;
    height: 0.4rem;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    top:0.69rem;
    left: 0.24rem;
}


.header-more img{
    width:0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.person-special{

    width: 7.02rem;
    height: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.05rem 0.15rem 0rem
    rgba(0, 0, 0, 0.13);
    border-radius: 0.1rem;
    position: absolute;
    top:1.64rem;
    left: 0.24rem;
    box-sizing: border-box;
    z-index: 10;
}
.header-title{
    width: 1.55rem;
    height: 0.37rem;
    font-family: 微软雅黑;
    font-size: 0.38rem;
    /*letter-spacing: 0.02rem;*/
    color: #ffffff;position: absolute;
    top: 0.68rem;
    left: 2.98rem;
}
.person-one{
    width: 1.05rem;
    height: 1.05rem;
    background-color: #f5ff78;position: absolute;
    top: 0.22rem;
    left: 0.23rem;box-sizing: border-box;padding-bottom:0;
}
.person-one img {
    height: 100%;
    width: 1.05rem;
    position: absolute;
}
.person-two{
    width: 2.5rem;
    height: 0.22rem;
    font-size:0.24rem;
    background: rgba(15, 255, 255, 0);
    color:white;
    opacity: 0.6; position: absolute;
    top:1.46rem;
    left: 0.25rem;box-sizing: border-box;display: inline-block;}


.person-connect{
    width: 3.84rem;
    height: 0.08rem;
    opacity: 0.6;position: absolute;
    top:0.7rem;
    left: 1.52rem;
}
.person-connect img{
    width: auto;
    height: 0.08rem;
    position: absolute;

}
.person-add{
    width: 6rem;
    height: 0.17rem;
    font-family:微软雅黑;
    font-size:0.17rem;
    color:white;position: absolute;
    top:1.77rem;
    left: 0.25rem;
    opacity: 0.6;
}
.person-three{
    width: 0.21rem;
    height: 0.17rem;position: absolute;
    top:0.3rem;
    left: 4.5rem;
}
.person-three img{
    width: 0.21rem;
    height: 0.17rem; position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.person-four{
    width: 0.81rem;
    height: 0.21rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    color: #000000;
    opacity: 0.6;display: inline-block;
}
.dailybig-two4{
    width: 2.03rem;
    height: 0.22rem;
    font-size: 0.22rem;
    letter-spacing: 0.01rem;opacity: 0.6;
    color: #000000;
    position: absolute;
    top: 0.17rem;
    left: 4.74rem;
}
.dailybig-two4 img{
    width: 100%;
}
.sign-name{
    width: 4.3rem;
    height: 0.24rem;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: -0.018rem;position: absolute;
    top: 2.16rem;
    left: 0.25rem;
    color: white;
    opacity: 0.6;
}
.sign-name2{
    width: 4.3rem;
    height: 0.24rem;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: -0.018rem;position: absolute;
    top: 2.16rem;
    left: 3.05rem;
    color: white;
    opacity: 0.6;
}
.small-phone{
    width: 0.28rem;
    height: 0.18rem;
    opacity: 0.6;
    position: absolute;
    top: 1.16rem;
    left: 4.56rem;
}
.phone{
    width: 0.14rem;
    height: 0.24rem;
    background-color: #ffffff;position: absolute;
    top: 2.2rem;
    left: 2.86rem;
}
.phone img{
    width: 0.14rem;
    height: 0.24rem;
    background-color: #ffffff;position: absolute;

}
.small-phone img{
    width: 100%;
    opacity: 0.6;position: absolute;

}
.phone-num{
    width: 1.48rem;
    height: 0.18rem;
    font-size: 0.22rem;
    letter-spacing: -0.018rem;
    color: #000000;
    opacity: 0.6; position: absolute;
    top: 1.01rem;
    left: 2.01rem;
}
.three-main{
    width: 7.5rem;
    height: 1.2rem;
    background: rgba(15, 255, 255, 0); position: absolute;
    top: 3.4rem;
}
.main-one{
    width: 1.22rem;
    height: 0.41rem;
    background-color: #ff296f;
    border-radius: 0.2rem;
    position: absolute;
    top: 0.37rem;
    left: 1.21rem;
    font-size: 0.26rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
    padding-left: 0.35rem;padding-top: 0.02rem;
}
.main-two{
    width: 1.22rem;
    height: 0.41rem;
    background-color: #ffb20c;
    border-radius: 0.2rem;
    position: absolute;
    top: 0.37rem;
    left: 3.15rem;
    font-size: 0.26rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
    padding-left: 0.35rem;padding-top: 0.02rem;      opacity: 0.6;
}
.main-three{
    width: 1.22rem;
    height: 0.41rem;
    background-color: #ffb20c;
    border-radius: 0.2rem;
    position: absolute;
    top: 0.37rem;
    left: 5.09rem;
    font-size: 0.26rem;
    letter-spacing: 0.01rem;
    color: #ffffff;
    padding-left: 0.35rem;padding-top: 0.02rem;       opacity: 0.6;
}
.hui-back{
    width: 7.5rem;
    height: 8.5rem;
    background: rgba(96, 87, 81, 0.2);
    position: absolute;
    top: 4.5rem;
}

.right-1{
    position: absolute;;
    width: 7.01rem;
    height: 1.55rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    top: 1.66rem;
    left: 0.24rem;font-size: 0.22rem;
    letter-spacing: 0.02rem;
    color: #ffffff;
    padding-left: 0.28rem;
    padding-top: 0.05rem;
}
.right-2{
    position: absolute;;
    width: 7.01rem;
    height: 1.55rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    top: 8.07rem;
    left: 0.24rem;font-size: 0.22rem;
    letter-spacing: 0.02rem;
    color: #ffffff;
    padding-left: 0.28rem;
    padding-top: 0.05rem;
}
.right-3{
    position: absolute;;
    width: 7.01rem;
    height: 1.55rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    top: 9.86rem;
    left: 0.24rem;font-size: 0.22rem;
    letter-spacing: 0.02rem;
    color: #ffffff;
    padding-left: 0.28rem;
    padding-top: 0.05rem;
}

.person-one1{
    width: 1.33rem;
    height: 1.25rem;
    background-color: #f5ff78;position: absolute;
    top: 0.15rem;
    left: 0.15rem;box-sizing: border-box;padding-bottom:0;
}
.person-one1 img {
    height: 100%;
    width: 1.33rem;
    position: absolute;
}
.person-two1{
    width: 2.5rem;
    height: 0.22rem;
    font-size:0.24rem;
    background: rgba(15, 255, 255, 0);
    color: #000000;
    opacity: 0.6; position: absolute;
    top:0.12rem;
    left: 1.94rem;box-sizing: border-box;display: inline-block;}


.person-connect1{
    width: 3.84rem;
    height: 0.08rem;
    opacity: 0.6;position: absolute;
    top:0.51rem;
    left: 1.94rem;
}
.person-connect1 img{
    width: auto;
    height: 0.08rem;
    position: absolute;

}
.right-onelast{
    width: 2.92rem;
    height: 0.73rem;
    opacity: 0.6;position: absolute;
    top:0.71rem;
    left: 1.94rem;
}
.right-onelast img{
    width: 2.92rem;
    height: 0.73rem;
    position: absolute;

}
.shopping{
    width: 1.6rem;
    height: 0.2rem;
    /*background-color: #ff296f;*/
    position: absolute;color: #605751;
    top:0.3rem;
    left: 5rem;

}
.shopping2{
    width: 1.6rem;
    height: 0.2rem;
    /*background-color: #ff296f;*/
    position: absolute;color: #605751;
    top:1rem;
    left: 5rem;

}
.again{
    width: 2.28rem;
    height: 0.58rem;
    background-color: #ff296f;border-radius: 0.4rem; position: absolute;color: #605751;
    top:1.84rem;
    left: 0.78rem;font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.45rem;
    letter-spacing: 0.05rem;
    color: #ffffff;
    padding-left: 0.5rem;
    padding-top: 0.05rem;
}
.return{
    width: 2.28rem;
    height: 0.58rem;
    background-color: #ff296f;border-radius: 0.4rem; position: absolute;color: #605751;
    top:1.84rem;
    right: 0.78rem;font-size: 0.26rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.45rem;
    letter-spacing: 0.05rem;
    color: #ffffff;
    padding-left: 0.5rem;
    padding-top: 0.05rem;
}
.foot{
    width: 7.5rem;
    height: 0.99rem;
    background-color: #ffffff;
    position: absolute;
    top:15.82rem;
    left: 0;right: 0;
}
.foot img{
    width: 2.84rem;height: 0.5rem;
    background-color: #ffffff;
    position: absolute;
    top:0.24rem;
    left:1.79rem;
}
.fot-1{
    width: 0.48rem;
    height: 0.46rem;
    opacity: 0.6;position: absolute;
    top:0.26rem;
    left: 0.63rem;
}
.fot-1 img{
    width: 0.48rem;
    height: 0.46rem;
    opacity: 0.9;position: absolute;
    top:0rem;
    left: 0rem;
}
.btn-1{
    width: 1.23rem;
    height: 0.43rem;
    background-color: #ff197c;
    opacity: 0.6;position: absolute;
    top:0.27rem;
    left: 5.85rem;
    font-size: 0.24rem;
    letter-spacing: 0.02rem;
    color: #ffffff;border-radius: 0.5rem;
    padding-left: 0.25rem;
}
.tan{
    width: 2.4rem;
    height: 0.21rem;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.02rem;
    color: #ffb20c;position: absolute;
    top:2.8rem;
    left: 0.65rem;
}
.box{
    width: 7.03rem;
    height: 1.38rem;
    background-color: #ffffff;position: absolute;
    top:3.25rem;
    left: 0.23rem;border-radius: 0.1rem;
}
.box img{
    width: 100%;
    background-color: #ffffff;position: absolute;
    top:0.65rem;
    left: 0rem;opacity: 0.2;
}
.one{
    width: 1.8rem;
    height: 0.21rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.02rem;
    color: #ffb20c;position: absolute;
    top:0.23rem;
    left: 0.25rem;
}
.t{
    width: 1.8rem;
    height: 0.21rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.02rem;
    color: #ffb20c;position: absolute;
    top:0.87rem;
    left: 0.48rem;
}
.t2{
    width: 1.8rem;
    height: 0.21rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.02rem;
    color: #ffb20c;position: absolute;
    top:0.23rem;
    left: 5.24rem;
}
.t4{
    width: 1.8rem;
    height: 0.21rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.02rem;
    color: #ffb20c;position: absolute;
    top:0.87rem;
    left: 5.24rem;
}

.look{
    width: 3.29rem;
    height: 0.71rem;position: absolute;
    top:4.8rem;
    left: 2.19rem;
}
.look img{
    width: 100%;
    height: 0.71rem;position: absolute;

}
.small1{
    width: 7.01rem;
    height: 0.9rem;
    background-color: #ffffff;
    position: absolute;
    top:11.95rem;
    left: 0.25rem;border-radius: 0.1rem;
}
.small2{
    width: 7.01rem;
    height: 0.9rem;
    background-color: #ffffff;
    position: absolute;
    top:13.25rem;
    left: 0.25rem;border-radius: 0.1rem;
}
.small3{
    width: 7.01rem;
    height: 0.9rem;
    background-color: #ffffff;
    position: absolute;
    top:14.55rem;
    left: 0.25rem;border-radius: 0.1rem;
}
.left{
    width: 1rem;
    height: 0.28rem;
    background: rgba(229, 57, 53, 0);margin-top: 0.3rem;margin-left: 0.3rem;
    font-size: 0.3rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.02rem;
    color: #000000;
    opacity: 0.6;display: block;
}
.right{
    width: 1rem;
    height: 0.28rem;
    background: rgba(229, 57, 53, 0);margin-top: 0.3rem;margin-right: 0.3rem;
    font-size: 0.3rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.02rem;
    color: #000000;
    opacity: 0.6;position: absolute;
    right: 0.3rem;top:0;
}.daily-big{
     width: 7.25rem;
     height: 1.55rem;
     background-color:white;
     border-radius: 0.1rem;
     position: absolute;
     top: 6.06rem;
     left: 0.25rem;right: 0;
     margin: auto;
 }
.dailybig-one{
    width: 1.65rem;
    height: 1.55rem;
    background-color: #ffc863;
    border-radius: 0.1rem;
    position: absolute;
}
.dailybig-one img{
    width: 1.65rem;
    height: 1.55rem;
    background-color: #ffc863;
    border-radius: 0.1rem;
    position: absolute;
}
.dailybig-two{
    width: 1.18rem;
    height: 0.26rem;
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    position: absolute;
    left: 1.75rem;
    top: 0.13rem;
}
.dailybig-three{
    width: 1.51rem;
    height: 0.12rem;
    opacity: 0.47;
    position: absolute;
    left: 1.75rem;
    top: 0.48rem ;
}
.dailybig-three img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.dailybig-four{
    width: 2.12rem;
    height: 0.23rem;
    background: rgba(229, 57, 53, 0);font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #000000;
    position: absolute;
    top: 0.58rem;
    left: 1.77rem;
    margin: auto;
}
.dailybig-five{
    width: 3.29rem;
    height: 0.62rem;
    background: rgba(229, 57, 53, 0);
    position: absolute;
    top: 0.90rem;
    left: 1.77rem;
}

.dailybig-five img {
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.dailybig-six{
    width: 1.86rem;
    height: 0.33rem;
    background: rgba(229, 0, 111, 0);
    position: absolute;
    top: 0.13rem;
    left: 5.12rem;
}
.dailybig-six img{
    width: 1.86rem;
    height: 0.33rem;
    background: rgba(229, 0, 111, 0);
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.dailybig-seven{
    width: 0.6rem;
    height: 0.6rem;
    background-color: rgba(255, 41, 111, 0);position: absolute;
    top: 0.68rem;
    left: 6.14rem;
}
.dailybig-seven img{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ff296f;position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.daily-big2{
    width: 7.25rem;
    height: 1.55rem;
    background-color:white;
    border-radius: 0.1rem;
    position: absolute;
    top: 7.86rem;
    left: 0.25rem;right: 0;
    margin: auto;
}
.dailybig-one2{
    width: 1.65rem;
    height: 1.55rem;
    background-color: #ffc863;
    border-radius: 0.1rem;
    position: absolute;
}
.dailybig-one2 img{
    width: 1.65rem;
    height: 1.55rem;
    background-color: #ffc863;
    border-radius: 0.1rem;
    position: absolute;
}
.dailybig-two2{
    width: 1.18rem;
    height: 0.26rem;
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    position: absolute;
    left: 1.75rem;
    top: 0.13rem;
}
.dailybig-three2{
    width: 1.51rem;
    height: 0.12rem;
    opacity: 0.47;
    position: absolute;
    left: 1.75rem;
    top: 0.48rem ;
}
.dailybig-three2 img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.dailybig-four2{
    width: 2.12rem;
    height: 0.23rem;
    background: rgba(229, 57, 53, 0);font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #000000;
    position: absolute;
    top: 0.58rem;
    left: 1.77rem;
    margin: auto;
}
.dailybig-five2{
    width: 3.29rem;
    height: 0.62rem;
    background: rgba(229, 57, 53, 0);
    position: absolute;
    top: 0.90rem;
    left: 1.77rem;
}

.dailybig-five2 img {
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.dailybig-six2{
    width: 1.86rem;
    height: 0.33rem;
    background: rgba(229, 0, 111, 0);
    position: absolute;
    top: 0.13rem;
    left: 5.12rem;
}
.dailybig-six2 img{
    width: 1.86rem;
    height: 0.33rem;
    background: rgba(229, 0, 111, 0);
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.dailybig-seven2{
    width: 0.6rem;
    height: 0.6rem;
    background-color: rgba(255, 41, 111, 0);position: absolute;
    top: 0.68rem;
    left: 6.14rem;
}
.dailybig-seven2 img{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ff296f;position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.daily-big3{
    width: 7.25rem;
    height: 1.55rem;
    background-color: white;
    border-radius: 0.1rem;
    position: absolute;
    top: 9.66rem;
    left: 0.25rem;right: 0;
    margin: auto;
}
.dailybig-one3{
    width: 1.65rem;
    height: 1.55rem;
    background-color: #ffc863;
    border-radius: 0.1rem;
    position: absolute;
}
.dailybig-one3 img{
    width: 1.65rem;
    height: 1.55rem;
    background-color: #ffc863;
    border-radius: 0.1rem;
    position: absolute;
}
.dailybig-two3{
    width: 1.18rem;
    height: 0.26rem;
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    position: absolute;
    left: 1.75rem;
    top: 0.13rem;
}
.dailybig-three3{
    width: 1.51rem;
    height: 0.12rem;
    opacity: 0.47;
    position: absolute;
    left: 1.75rem;
    top: 0.48rem ;
}
.dailybig-three3 img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.dailybig-four3{
    width: 2.12rem;
    height: 0.23rem;
    background: rgba(229, 57, 53, 0);font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #000000;
    position: absolute;
    top: 0.58rem;
    left: 1.77rem;
    margin: auto;
}
.dailybig-five3{
    width: 3.29rem;
    height: 0.62rem;
    background: rgba(229, 57, 53, 0);
    position: absolute;
    top: 0.90rem;
    left: 1.77rem;
}

.dailybig-five3 img {
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.dailybig-six3{
    width: 1.86rem;
    height: 0.33rem;
    background: rgba(229, 0, 111, 0);
    position: absolute;
    top: 0.13rem;
    left: 5.12rem;
}
.dailybig-six3 img{
    width: 1.86rem;
    height: 0.33rem;
    background: rgba(229, 0, 111, 0);
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.dailybig-seven3{
    width: 0.6rem;
    height: 0.6rem;
    background-color: rgba(255, 41, 111, 0);position: absolute;
    top: 0.68rem;
    left: 6.14rem;
}
.dailybig-seven3 img{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ff296f;position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.daily-big4{
    width: 7.25rem;
    height: 1.55rem;
    background-color: white;
    border-radius: 0.1rem;
    position: absolute;
    top:11.46rem;
    left: 0.25rem;right: 0;
    margin: auto;
}
.dailybig-one4{
    width: 1.65rem;
    height: 1.55rem;
    background-color: #ffc863;
    border-radius: 0.1rem;
    position: absolute;
}
.dailybig-one4 img{
    width: 1.65rem;
    height: 1.55rem;
    background-color: #ffc863;
    border-radius: 0.1rem;
    position: absolute;
}
.dailybig-two4{
    width: 1.18rem;
    height: 0.26rem;
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0.01rem;
    color: #000000;
    position: absolute;
    left: 1.75rem;
    top: 0.13rem;
}
.dailybig-three4{
    width: 1.51rem;
    height: 0.12rem;
    opacity: 0.47;
    position: absolute;
    left: 1.75rem;
    top: 0.48rem ;
}
.dailybig-three4 img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.dailybig-four4{
    width: 2.12rem;
    height: 0.23rem;
    background: rgba(229, 57, 53, 0);font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #000000;
    position: absolute;
    top: 0.58rem;
    left: 1.77rem;
    margin: auto;
}
.dailybig-five4{
    width: 3.29rem;
    height: 0.62rem;
    background: rgba(229, 57, 53, 0);
    position: absolute;
    top: 0.90rem;
    left: 1.77rem;
}

.dailybig-five4 img {
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.dailybig-six4{
    width: 1.86rem;
    height: 0.33rem;
    background: rgba(229, 0, 111, 0);
    position: absolute;
    top: 0.13rem;
    left: 5.12rem;
}
.dailybig-six4 img{
    width: 1.86rem;
    height: 0.33rem;
    background: rgba(229, 0, 111, 0);
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.dailybig-seven4{
    width: 0.6rem;
    height: 0.6rem;
    background-color: rgba(255, 41, 111, 0);position: absolute;
    top: 0.68rem;
    left: 6.14rem;
}
.dailybig-seven4 img{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ff296f;position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}
